.section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.subsection {
	margin-top: 15px;
	overflow: auto;
	width: 100%;
}
.sectionContainer {
	width: 30%;
	margin: 0 auto;
}

.subsectionTitle {
	width: 30%;
	float: left;
}
.subsectionValue {
	width: 70%;
	float: left;
}

.navigation {
	position: fixed;
	top: 10px;
	right: 10px;

	color: white;
	background-color: #556C81;
	cursor: pointer;
}
.navSectionTitle {
	display: block;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
}
.navSubSection {
	display: block;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navSubSection,
.navSectionTitle,
.navSubSection:visited,
.navSectionTitle:visited {
	color: white;
}

.navSubSection:hover,
.navSectionTitle:hover,
.navSectionTitle:active,
.navSubSection:active,
.activeSection{
	background-color: #0D2E4C;
	color: #FFC76D !important;
}