.topJumperIcon {
	padding-left: 20px;
	margin-left: 15px;

	font-size: 13px;
	font-weight: bold;
	color: #45688E;

	background: url('../img/toplink.gif') no-repeat left 3px; height: 14px;

}
.topJumper {
	width: 100px;
	height: 100%;

	padding-top: 15px;
	background-color: #E1E7ED;
}
.topJumperContainer {
	height: 100%;
	position: fixed;
}
.big {
	height: 2000px;
}